@using DoofusCharacterTracker.Database.Tables
<InputSelect Value="Value" ValueChanged="ValueChanged" ValueExpression="() => Value">
    @foreach(var element in Enum.GetValues<DofusElement>())
    {
        <option value="@element">@element</option>
    }
</InputSelect>

@code {
    [Parameter, EditorRequired] public required DofusElement Value { get; set; }
    [Parameter] public EventCallback<DofusElement> ValueChanged { get; set; }
}
