@import url('blazor-stuff.css');
@import url('../fontawesome/css/fontawesome.css');
@import url('../fontawesome/css/regular.css');
@import url('../fontawesome/css/solid.css');

html {
    --color-link: dodgerblue;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a {
    color: var(--color-link);
}

body {
    background-color: #eee;
}

button, input, textarea, select, option {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url],
input[type=date], input[type=number],
textarea, select {
    padding: 0.25rem 0.5rem;
    margin: 0;
}

button,.button,input[type=button],input[type=submit],input[type=reset]
{
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0;
    border: none;
    border-radius: 5px;
    background-color: var(--color-link);
    color: white;
    font-size: 1em;
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
}

button.as-text {
    background-color: transparent;
    color: var(--color-link);
    padding: 0;
    font-size: 1em;
    line-height: 100%;
    text-decoration: underline;
}

button[disabled],.button[disabled]
{
    background-color: #999;
}

button.wire,.button.wire {
    border: 1px solid var(--color-link);
    background-color: transparent;
    color: var(--color-link);
    padding: calc(0.5rem - 1px) calc(1rem - 1px);
}

label {
    font-weight: bold;
    font-size: 80%;
    display: block;
}

.validation-message {
    color: #c52;
}

p,ul,ol,dl,table,pre,blockquote {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol.no-bullets,ul.no-bullets {
    list-style-type: none;
    padding-left: 0;
}