@page "/update-dungeon-notes/{DungeonId:guid}"

@if(Model == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="Model" OnValidSubmit="DoSaveChanges">
        <FluentValidationValidator />
        
        <p>
            <label>Dungeon Name</label>
            <InputText @bind-Value="Model.Name" />
            <ValidationMessage For="() => Model.Name" />
        </p>
        
        <p>
            <label>Notes (optional)</label>
            <InputText @bind-Value="Model.Notes" />
            <ValidationMessage For="() => Model.Notes" />
        </p>
        
        <div>
            <a href="/" class="button">Cancel</a>
            <button type="submit">Save</button>
        </div>
    </EditForm>
}